<div class="container">
    <div class="row">
        <h3>Your reservations</h3>
        <% @reservations.each do |reservation| %>
        <div class="col-md-8 col-md-offset-2">

          <div class="reservation">
            <div class="reservation-photo">
              <%= cl_image_tag reservation.bike.photo, height: 140, width: 170, crop: :fill %>
            </div>

            <div class="reservation-infos">
              <h4> <strong><%= reservation.bike.title %></strong> </h4>
              <p> <%= reservation.bike.description %> </p>
              <p> <strong>Owner:</strong> <%= reservation.bike.user.first_name %> <%= reservation.bike.user.last_name %></p>
              <p> <%= reservation.bike.user.phone_number %> </p>
              <p> <%= reservation.bike.user.email %> </p>
              <p> <strong>From</strong> <%=reservation.date_begin %> <strong>to</strong> <%= reservation.date_end %></p>
            </div>

            <div class="reservation-status">
              <% if reservation.status == nil %>
                <h4>Pending </h4>
              <% elsif reservation.status == "t" %>
                <i class="fa fa-check-circle fa-4x" ></i>
              <% else %>
                <i class="fa fa-ban fa-4x"></i>
              <%end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

</div>
