<h1>My bikes</h1>

<% @user.bikes.each do |bike|%>
  <div class="container collection">
    <div class="container bike">
      <div class="bike-photo ">
        <%= cl_image_tag bike.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="bike-infos ">
        <h4><%= bike.title %></h4>
        <p><%= bike.description %></p>
        <p>Address: <%= bike.address %></p>
      </div>
    </div>

    <% if bike.reservations.empty? %>
      <p>No reservations yet</p>
    <% else %>
      <div class="container all-reservations">
        <%= bike.reservations.each do |reservation| %>
          <div class="container reservation">
            <div class="reservation-user-picture user-pic">
              <%= cl_image_tag reservation.user.photo, height: 75, width: 100, crop: :fill %>
            </div>
            <div class="reservation-infos">
              <p> <strong><%= reservation.user.first_name %> <%= reservation.user.last_name %></strong> wants to ride your bike the <strong> <%= reservation.date %></strong></p>
            </div>
            <div class="reservation-acception">
              <% if reservation.status == nil %>
                <%= button_to "Accept", accepted_path(reservation), method: :patch, class: "btn btn-success" %>
                <%= button_to "Refuse", refused_path(reservation), method: :patch, class: "btn btn-danger" %>
              <% elsif reservation.status == "t" %>
               <i class="fa fa-check-circle fa-4x" ></i>
              <% else %>
               <i class="fa fa-ban fa-4x"></i>
              <%end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
