<div>
  <%= simple_form_for(:search, url: root_path, method: :get) do |f| %>
    <%= f.input :category, collection: Bike::CATEGORIES %>
    <%= f.button :submit %>
  <% end %>
</div>


<div class="container">
  <div class="row">
  <% @bikes.each do |bike| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-photo" style="background-image: url('<%= default_path_photo(bike) %>');">
        </div>
        <div class="card-infos">
          <h2><%= link_to bike.title, bike_path(bike) %></h2>
          <h3><%= bike.category %></h3>
          <p><%= bike.description %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


