<h1>Add a bike</h1>

<%= simple_form_for @bike do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: Bike::CATEGORIES %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>

<%= link_to "< Back to Bikes", bikes_path %>
