<h1>SHOW bike</h1>

<%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill %>
<p><%= @bike.title %></p>
<p><%= @bike.category %></p>
<p><%= @bike.description %></p>

<%= link_to "< back list", bikes_path %>


<%= simple_form_for ([@bike, @reservation]) do |f| %>
<%= f.input :date %>
<%= f.button :submit %>
<% end %>

<% if policy(Bike).create? %>
  <%= link_to "New bike", new_bike_path %>
<% end %>

<% @bikes.each do |bike| %>
  <% if policy(bike).edit? %>
    <%= link_to "Update", edit_bike_path(restaurant) %>
  <% end %>
<% end %>
