<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="bike">

        <div class="bike-infos">
          <h1><%= @bike.title %></h1>
          <div class="bike-photo">
            <% if @bike.photo.present? %>
              <%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag("photo_uniq.png", height: 300, width: 400, crop: :fill) %>
            <% end %>
          </div>

          <div class="bike-description">
            <p> <strong>Category:</strong>  <%= @bike.category %></p>
            <p> <strong>Description:</strong> <%= @bike.description %></p>
          </div>
        </div>

        <div class="bike-reservation text-center">
          <%= simple_form_for ([@bike, @reservation]) do |f| %>
          <%= f.input :date_begin, as: :string, label: "Riding day?", input_html: { class: "datepicker", data: { modal: true, "large-mode": true}, "data-theme": "date-style" } %>
          <%= f.input :date_end, as: :string, label: "Riding end?", input_html: { class: "datepicker", data: { modal: true, "large-mode": true}, "data-theme": "date-style" } %>
          <%= f.button :submit, "Book!", { class: "btn btn-success"} %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
